# Big Data different
The idea is to joint the tables better

In [2]:
import pandas as pd
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px

In [3]:
asylum = pd.read_csv('.\\Data\\Clean\\Asylum_data.csv')
population = pd.read_csv(".\\Data\\Clean\\Population_data.csv")

In [4]:
asylum

,country_of_origin_abbr,country_of_origin_name,country_of_asylum_abbr,country_of_asylum_name,region_of_asylum,category,year,count
0,DZA,Algeria,MLT,Malta,Europe,Refugee,1962,5
1,AGO,Angola,COD,Dem. Rep. of the Congo,Southern Africa,Refugee,1962,20000
2,AGO,Angola,NAM,Namibia,Southern Africa,Refugee,1962,277
3,BDI,Burundi,NAM,Namibia,Southern Africa,Refugee,1962,13
4,CHN,China,NPL,Nepal,Asia and the Pacific,Refugee,1962,5
...,...,...,...,...,...,...,...,...
103338,ZWE,Zimbabwe,POL,Poland,Europe,Asylum-seekers,2024,9
103339,ZWE,Zimbabwe,ZAF,South Africa,Southern Africa,Asylum-seekers,2024,89
103340,ZWE,Zimbabwe,SWE,Sweden,Europe,Asylum-seekers,2024,5
103341,ZWE,Zimbabwe,USA,United States of America,Americas,Asylum-seekers,2024,641
103342,ZWE,Zimbabwe,ZMB,Zambia,Southern Africa,Asylum-seekers,2024,9

In [5]:
population

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,58694.0,58990.0,...,106807.0,107906.0,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0
1,Africa Eastern and Southern,AFE,130072080.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,153281203.0,157704381.0,...,590968990.0,607123269.0,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750503764.0
2,Afghanistan,AFG,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,10266395.0,10505959.0,...,32792523.0,33831764.0,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0
3,Africa Western and Central,AFW,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,111246953.0,113795019.0,...,406992047.0,418127845.0,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0
4,Angola,AGO,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,5581386.0,5641807.0,...,27160769.0,28157798.0,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,984846.0,1011421.0,1036950.0,1062737.0,1090270.0,1120168.0,1152586.0,1187667.0,...,1812788.0,1788274.0,1777568.0,1791019.0,1797086.0,1788891.0,1790152.0,1786080.0,1768096.0,1756366.0
260,"Yemen, Rep.",YEM,5532301.0,5655232.0,5782221.0,5911135.0,6048006.0,6195593.0,6351494.0,6516444.0,...,30226309.0,31159379.0,32109010.0,33090921.0,34085182.0,35111408.0,36134863.0,37140230.0,38222876.0,39390799.0
261,South Africa,ZAF,16440172.0,16908035.0,17418522.0,17954564.0,18511361.0,19089380.0,19690087.0,20314066.0,...,55594838.0,56723537.0,57259551.0,57635162.0,58613001.0,59587885.0,60562381.0,61502603.0,62378410.0,63212384.0
262,Zambia,ZMB,3153729.0,3254086.0,3358099.0,3465907.0,3577017.0,3692086.0,3812003.0,3936343.0,...,15895315.0,16399089.0,16914423.0,17441320.0,17973569.0,18513839.0,19059395.0,19603607.0,20152938.0,20723965.0
263,Zimbabwe,ZWE,3809389.0,3930401.0,4055959.0,4185877.0,4320006.0,4458462.0,4601217.0,4748307.0,...,14207359.0,14399013.0,14600294.0,14812482.0,15034452.0,15271368.0,15526888.0,15797210.0,16069056.0,16340822.0